<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
        <mat-card-title>Responsive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa ipsam maiores nam odit. Tempora.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
        <mat-card-title>Web</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa ipsam maiores nam odit. Tempora.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
        <mat-card-title>Design</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa ipsam maiores nam odit. Tempora.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--<mat-divider class="my-2"></mat-divider>-->

<div class="row">
  <div class="col-12 com-sm-6 col-md-8">
    <h3>About Me</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis ea laudantium nam quo? Culpa in itaque
      laudantium magni neque provident, quas sequi velit veritatis voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A id iusto optio quibusdam.</p>
  </div>
  <div class="col-12 com-sm-6 col-md-4">
    <div class="mb-3">
      <strong>Java</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar [value]="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Angular</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar [value]="80" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Spring</strong>
      <span class="float-right">90%</span>
      <mat-progress-bar [value]="90" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>
<!--<mat-divider class="my-2"></mat-divider>-->

<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequatur dolore eaque earum eos, eum ex
      fugiat id inventore, neque officia quia suscipit tempora veniam?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, culpa cum debitis eius fugiat minima
      necessitatibus neque obcaecati, officiis unde voluptatum.</p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>Details</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-md-9 text-right">
    <h2>React Development<i class="fab fa-react react-color d-md-none ml-2"></i></h2>
    <p>Aspernatur beatae culpa cupiditate deleniti, dicta dolore dolores expedita fuga fugit impedit ipsum labore
      molestiae natus non nostrum quaerat quibusdam repellat saepe sapiente velit! Eaque, veritatis?</p>
    <p>Alias architecto at autem dignissimos ea, enim est ex in iure iusto laboriosam libero magni perferendis quae
      rem reprehenderit, veniam voluptatem!</p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'React'}" mat-stroked-button>Details</button>
  </div>
  <div class="col-3 text-center">
    <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Development</h2>
    <p>A, aliquid culpa cum eum iste minus quae quidem repellendus sunt. Animi assumenda at dolores fuga neque
      nesciunt porro quaerat quibusdam tenetur voluptates! Eius enim, voluptates?</p>
    <p>Blanditiis dolore ducimus eaque ex harum illo in magnam mollitia numquam pariatur perspiciatis quaerat, quia
      quibusdam rem sit suscipit tenetur! Ducimus?</p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Vue'}" mat-stroked-button>Details</button>
  </div>
</div>
<!--<mat-divider class="my-3"></mat-divider>-->

<div class="portfolio-preview">
  <div class="row no-gutters">
    <div class="col-12">
      <h2>Recent Apps</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci commodi cupiditate explicabo fugit, in
        libero magni non odio odit possimus!</p>
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngFor="let item of recentProjects;index as i"
         [ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-3 col-md-3' : i >= 3}">
      <img class="img-fluid" [src]="item.preview + '?text=' + item.name" [alt]="item.name">
    </div>
    <div class="col-12 mt-3">
      <button mat-stroked-button>Details</button>
    </div>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>
